:root{
    --color-primary: hsl(322, 100%, 66%);
    --color-secondary: hsl(321, 100%, 78%); /*Active states*/
    --color-red: hsl(0, 100%, 63%);
    --color-body: hsl(192, 100%, 9%);
    --color-white: #fff;
    --color-background: hsl(207, 100%, 98%);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-left: 0;
    margin-right: 0;

}

h1,
h2,
h3{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.488rem;
}

h2{
    font-size: 2.074rem;
}

h3{
    font-size: 1.728rem;
}

/*Buttons*/
.btn{
    border-radius: 25px;
    border: 0;
    outline: 0;
    padding: 1rem 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (min-width:768px){
    .btn{
    padding: 1.5rem 5rem;
     }
}

.btn--primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn--primary:hover{
    background: var(--color-secondary);
}

.btn--small{
    padding: 1rem 2.5rem;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    background: none;
}

.btn--small:hover{
    background: var(--color-secondary);
    border: 2px solid var(--color-secondary);
}



/*Navigation*/
.nav{
    display: flex;
    justify-content: space-between;
}

.nav__image{
    width: 150px;
    height: 25px;
}

/*Icons*/
.icon{
    width: 30px;
    height: 30px;
}

.icon--white{
    fill: var(--color-white);
}

.icon--small{
    width: 20px;
    height: 20px;
}


/*Subscription form*/
.subscribe{
    background: var(--color-white);
    border-radius: 4px;
    border: 0;
    margin-right: 2.5rem;
    outline: 0;
    padding: 1.2rem;
    width: 2rem;
}

.subscribe:focus{
    border: 1px solid var(--color-red);
}

.btn--subscribe {
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 4px;
    padding: 1.2rem 0rem;
}

.btn--subscribe:hover {
    background: var(--color-secondary);
}


/*Info*/
.info.grid{
    justify-items: center;
}

.info__heading{
    margin: 0;
    font-size: 7rem;
    font-weight: 700;
}

.info__text{
    margin-top: 0;
    opacity: 0.4;
    text-align: center;
}

.info__one {
    margin-bottom: 8rem;
}


/*Feautures*/
.feature {
    text-align: center;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--color-background);
}

@media screen and (min-width:768px) {
    .feature{
        flex-direction: row-reverse;
        align-items: center;
    }
}

.feature__image{
    width: 70%;
}

@media screen and (min-width:768px) {
    .feature__content {
        text-align: left;
        margin: 6rem;
    }
    
}

.feature:nth-of-type(1),
.feature:nth-of-type(3) {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.feature:nth-of-type(1)::before {
    content: '';
    background: url(../images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 200px;
    position: absolute;
    top: -25%;
}

@media screen and (min-width:768px) {
    .feature:nth-of-type(1) {
        padding-top: 4.5rem;
    }

  .feature:nth-of-type(1)::before {
    content: '';
    background: url(../images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    position: absolute;
    top: -20%;
    }
}


.feature:nth-of-type(1)::after {
    content: '';
    background: url(../images/bg-section-bottom-mobile-1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -20%;
}

@media screen and (min-width:768px) {
    .feature:nth-of-type(1)::after {
        content: '';
        background: url(../images/bg-section-bottom-desktop-1.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        position: absolute;
        bottom: -80px;
    }
}

.feature:nth-of-type(2) {
    background: none;
}

@media screen and (min-width:768px) {
    .feature:nth-of-type(2) .feature__content{
        order: -1;
    }
}


.feature:nth-of-type(3)::before {
    content: '';
    background: url(../images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 200px;
    position: absolute;
    top: -22%;
}


@media screen and (min-width:768px) {
  .feature:nth-of-type(3)::before {
    content: '';
    background: url(../images/bg-section-top-desktop-2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    position: absolute;
    top: -25%;
    }
}

.feature:nth-of-type(3)::after {
    content: '';
    background: url(../images/bg-section-bottom-mobile-2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -20%;
}

@media screen and (min-width:768px) {
    .feature:nth-of-type(3)::after {
        content: '';
        background: url(../images/bg-section-bottom-desktop-2.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        position: absolute;
        bottom: -90px;
    }
}


/*Callout*/
.callout{
    text-align: center;
}


/*Footer*/
.footer{
    background: var(--color-body);
    color: var(--color-background);
    position: relative;
}

body{
    margin-top: 14rem;
}
.footer::before {
    content: '';
    background: url(../images/bg-footer-top-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    position: absolute;
    top: -6%;
}

@media screen and (min-width:500px) {
    .footer::before {
        content: '';
        background: url(../images/bg-footer-top-mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100px;
        position: absolute;
        top: -9%;
    }
}

@media screen and (min-width: 768px) {
    .footer::before {
        content: '';
        background: url(../images/bg-footer-top-desktop.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
       position: absolute;
        top: -17%;
    }
}

@media screen and (min-width: 1130px) {
    .footer::before {
        content: '';
        background: url(../images/bg-footer-top-desktop.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
       position: absolute;
        top: -27%;
    }
}

.footer__content{
    padding: 3rem;
}

@media screen and (min-width:768px) {
    .footer__content {
        padding: 7rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       /* display: flex;
        justify-content: space-between;*/
    }
}

.footer__newsletter {
    margin-bottom: 8rem;
}

@media screen and (min-width:768px) {
    .footer__newsletter {
        order: 2;
    }
}

.footer__newsletter-heading {
    font-weight: 700;
    font-size: 1.5rem;
}

.footer__newsletter-text {
    max-width: 70%;
}

.footer__subscription {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .footer__subscription {
        flex-direction: row;
    }
}

.footer__newsletter .subscribe {
    width: 100%;
    margin-bottom: 1.5rem;
}

@media screen and (min-width:768px) {
    .footer__newsletter .subscribe {
        width: 50%;
        margin-bottom: 0;
    }
}

.footer__newsletter .btn--subscribe{
    margin-left: 50%;
}

@media screen and (min-width:768px) {
    .footer__newsletter .btn--subscribe {
        margin-left: 0;
        padding: 1.5rem 3.5rem;
    }

    .footer__items {
        max-width: 70%;
    }
}

.footer__logo {
    width: 60%;
}



.footer__contact {
    list-style: none;
    padding-left: 0;
    margin: 4.5rem 0 3.5rem 0;
}

.footer__contact-item {
    display: flex;
    padding-bottom: 2rem;
}

.footer__contact-item .icon {
    margin-right: 2rem;
}

.footer__social .icon {
    margin-right: 1.2rem;
}

@media screen and (min-width:768px) {
    .footer .icon {
        width: 20px;
        height: 20px;
    }
}


/*Attribution*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}